.header-menu__btn{
    display: none;
    width: 40px;
    height: 40px;
    padding: 0;
    position: relative;
    z-index: 20;
    background: transparent;
    border: none;
    cursor: pointer;
}
.header-menu__btn span{
    position: relative;
    display: block;
    height: 2px;
    background-color: #fff;
}

.header-menu__btn span::before,
.header-menu__btn span::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #fff;
    left: 0;
}

.header-menu__btn span::before{
    top: -10px;
}

.header-menu__btn span::after{
    top: 10px;
}
.header {
    background-image: url(../images/bg/bg-1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 20px;
    }

    &__logo {
    }

    &__title {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            max-width: 560px;
            margin-left: auto;
            margin-right: auto;
    }

    &__info {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 55px;
    }

    &__adress {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 116%;
        text-align: center;
        color: #FFFFFF;
    }
    &__adress::after{
        content: "";
        position: absolute;
        margin-left: 15px;
        width: 21px;
        height: 21px;
        background-image: url(../images/svg/geo-tags.svg);
    }

    &__phone {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 116%;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone::after{
        content: "";
        position: absolute;
        margin-left: 15px;
        width: 21px;
        height: 21px;
        background-image: url(../images/svg/phone.svg);
    }
}

.header-menu {

    &__list {
        display: flex;
        justify-content: space-between;

        font-family: 'Raleway';
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.05em;
        font-style: normal;
        color: #FFFFFF;
    }

    &__item{
    }

    &__link {
        &:hover{
            font-size: 19px;
            color: red;
            transition: all 0.2s;
        }
    }
}
.title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 133%;
    text-align: center;
    color: #D4C17F;
    margin-top: 170px;
    margin-bottom: 280px;
}
.header-menu__item + .header-menu__item{
    padding-left: 40px;
}

@media (max-width: 790px){

    .header-menu__item{
        padding-bottom: 20px;
    }
    .header-menu__btn{
        display: block;
    }
    .header-menu__list{
        display: none;
    }
    .header{
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
        }
    }
    .header-menu__list{
        transform: translateY(-150%);
        transition: all .5s;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0;
        background-color: #242b33;
        padding-top: 85px;
        padding-bottom: 30px;
        width: 100%;
        text-align: center;
    }
    .header-menu__list.active{
        transform: translateY(0);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 55px;
        padding-bottom: 0;
    }
    .header__logo{
        z-index: 22;
    }
}
@media (max-width: 700px){

    .title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 133%;
        text-align: center;
        color: #D4C17F;
        margin-top: 170px;
        margin-bottom: 280px;
    }
    .header{
        &__title{
            max-width: 400px;
        }
        &__info{
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
        }
        &__adress{
            margin-bottom: 15px;
        }
    }


}
@media (max-width: 400px){
    .title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 133%;
        text-align: center;
        color: #D4C17F;
        margin-top: 200px;
        margin-bottom: 300px;
    }
}